<div class="container-fluid starship">
    <div class="row">
        <div class="col-12 name">
            <h1>{{starship['name']}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Starship class :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['starship_class']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Length :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['length']}} meters</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Max Speed :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['max_atmosphering_speed']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Crew :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['crew']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Passengers :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['passengers']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Cargo capacity :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['cargo_capacity']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Cost in credits :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['cost_in_credits']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Consumables :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['consumables']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>MGLT :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['MGLT']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-6 property">
                            <h2>Hyperdrive rating :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['hyperdrive_rating']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-3 property">
                            <h2>Model :</h2>
                        </div>
                        <div class="col-6 value">
                            <h2>{{starship['model']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2 property">
                            <h2>Manufacturer :</h2>
                        </div>
                        <div class="col-10 value">
                            <h2>{{starship['manufacturer']}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 pilots">
                    <div class="row">
                        <div class="col-4 property">
                            <div class="row">
                                <div class="col-6">
                                    <dt>
                                        <h2>Pilots :</h2>
                                    </dt>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 value text-center" *ngIf="starship['pilots'] != 'unknow'">
                            <div class="row">
                                <div class="col-4" *ngFor="let pilot of starship['pilots']">
                                    <h3>
                                        <a routerLink="/people/{{pilot['id']}}">{{pilot['name']}}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 value text-center" *ngIf="starship['pilots'] === 'unknow'">
                            <div class="row">
                                <div class="col-4">
                                    <h3>
                                        {{starship['pilots']}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 films">
                    <div class="row">
                        <div class="col-4 property">
                            <div class="row">
                                <div class="col-6">
                                    <dt>
                                        <h2>Films :</h2>
                                    </dt>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 value text-center">
                            <div class="row">
                                <div class="col-4" *ngFor="let film of starship['films']">
                                    <h3>
                                        <a routerLink="/films/{{film['id']}}">{{film['title']}}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- {{starship['model']}}
{{starship['manufacturer']}}
{{starship['cost_in_credits']}}
{{starship['length']}}
{{starship['max_atmosphering_speed']}}
{{starship['crew']}}
{{starship['passengers']}}
{{starship['cargo_capacity']}}
{{starship['consumables']}}
{{starship['hyperdrive_rating']}}
{{starship['MGLT']}}
{{starship['starship_class']}}
{{starship['pilots']}}
{{starship['films']}} -->