<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{starship['name']}}</h1>
        </div>
    </div>
</div>










<!-- {{starship['model']}}
{{starship['manufacturer']}}
{{starship['cost_in_credits']}}
{{starship['length']}}
{{starship['max_atmosphering_speed']}}
{{starship['crew']}}
{{starship['passengers']}}
{{starship['cargo_capacity']}}
{{starship['consumables']}}
{{starship['hyperdrive_rating']}}
{{starship['MGLT']}}
{{starship['starship_class']}}
{{starship['pilots']}}
{{starship['films']}} -->