<div class="container-fluid navigation text-center">
    <div class="row">
        <div class="col-3 menu">
            <img src="../assets/img/menu.png" alt="Menu" (click)="NavStatus(true)">
        </div>
        <div class="col-6 logo">
            <a routerLink=""><img src="../assets/img/logo.png" alt="Logo"></a>
        </div>
    </div>
</div>


<div id="menu" class="side_menu" [ngStyle]="{'width': isOpened ? '25vw' : '0', 'border-width': isOpened ? '5px' : '0'}">
    <a href="javascript:void(0)" class="closebtn" (click)="NavStatus(false)">&times;</a>
    <a routerLink="" (click)="NavStatus(false)">Index</a>
    <a routerLink="categories" (click)="NavStatus(false)">Categories</a>
</div>