@import 'vars';

.navigation{
    background-color: #111;
    padding: {
        top: 1.5rem;
        bottom: 1.5rem;
    }

    .menu{
        img{
            width: 2rem;
            margin: {
                top: 2rem;
            }
        }
    }     

    .logo{
        img{
            width: 15rem;
        }
    }        
}



.side_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 5px solid $main_color;

    a, p{
        -webkit-text-stroke: 1px $main-color;
        -webkit-text-fill-color: #000;
        text-decoration: underline;
        padding: 8px 8px 8px 32px;
        font-size: 2rem;
        display: block;
        transition: 0.3s;
    }

    a:hover{
        -webkit-text-fill-color: $main-color;
    }

    a:hover {
        color: #f1f1f1;
    }

    p{
        text-decoration: none;
    }
    
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
}