<div class="container-fluid header">
    <div class="row">
        <div class="col-12 text-center">
            <h1>A Star Wars library with a lot of informations</h1>
            <h2>using <a href="https://swapi.dev/">SWAPI</a></h2>
        </div>
    </div>
</div>

<div class="container-fluid categories text-center">
    <div class="row">

        <div class="col-12">
            <h1>Each categories of our library</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4 category" *ngFor="let category of categories">
                    <a routerLink="{{category.name}}">
                        <img src="../../assets/img/img_{{category.name}}.jpg" alt="Placeholder">
                        <h2>{{category.name}}</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>