<div class="container-fluid header">
    <div class="row">
        <div class="col-12 text-center">
            <h1>A Star Wars library with a lot of informations</h1>
            <h2>using <a href="https://swapi.dev/">SWAPI</a></h2>
        </div>
    </div>
</div>

<div class="container-fluid categories text-center">
    <div class="row">

        <div class="col-12">
            <h2>Each categories of our library</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-4 category" *ngFor="let item of items">
                    <a routerLink="{{item.name}}"><img src="../../assets/img/img_placeholder.jpg" alt="Placeholder"></a>
                    <h3>{{item.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>